.help #definition {
  background: #333 url('images/systembg.gif') repeat-x;
}

.help a {
    color: #3366ff;
    text-decoration: underline;
}

.help li {
    list-style: disc;
    list-style-position: inside;
    margin: 3px 3px;
}

.help p {
    margin-bottom: 7px;
}

.help h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#help_tabs {
    border: none;
    padding: 0;
}