.history #definition {
  background: #333 url('images/systembg.gif') repeat-x;
}

#mbrsel {
    margin-top: 0 !important;
}

#mbrsel > div#date > ol > li.from {
    width: 2em;
}

#mbrsel > div#date > ol > li.to {
    width: 2em;
}

#mbrsel > div#date > ol > li input {
    background-color: transparent;
    width: 6em;
    text-align: right;
}

#mbrsel > div#user > ol > li input {
    width: 12em;
}

li.filter {
    position: relative;
    margin-bottom: 23px;
}

.filter > span {
    position: absolute;
    display: block;
    top: 0;
    right: 20px;
    left: 20px;
}

span.userfilter_pre {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 23px;
    width: 21px;
    background: url("lib/filter_box_left.png");
}

span.userfilter_post {
    position: absolute;
    display: block;
    top: 0;
    left: 13em;
    height: 23px;
    width: 21px;
    background: url("lib/filter_box_right.png");
}

.filter > span > input {
    height: 21px;
    padding: 1px;
    font-weight: bold;
    color: black;
    background: url("lib/filterboxbarbg.png") repeat-x;
}

#template > h3 {
    background: url("lib/constructorsbg.gif") repeat-x;
    height: 18px;
}

.definition {
    color: white;
    padding: 5px 10px;
    font-size: 12pt;
    font-weight: bold;
    text-shadow: black 1px 1px 0;
}

.value .definition {
    background: url("lib/valuemembersbg.gif") repeat-x;
    height: 18px;
}

.type .definition {
    background: url("lib/typebg.gif") repeat-x;
    height: 18px;
}

#template .changeset > div > .signature {
    margin: 0 0 4px 0;
}

#template .changeset > div > .shortcomment {
    display: block;
    margin: 0 0 4px 0;
    padding-left: 8px;
    padding-right: 8px;
}

#template .changeset > div > .fullcomment  {
    display: none;
    margin: 0 0 4px 0;
    padding-left: 8px;
    padding-right: 8px;
}