.history #definition {
  background-color: #333;
}

#mbrsel > div#date > ol > li.from {
    width: 2em;
}

#mbrsel > div#date > ol > li.to {
    width: 2em;
}

#mbrsel > div#date > ol > li input {
    width: 5em;
}

#mbrsel > div#user > ol > li input {
    width: 12em;
}

.filter > span {
    background: url("lib/filter_box_left.png") no-repeat left top;
    margin: 0 0 0 -8px;
    padding: 2px 0 0 22px;
}

#template > h3 {
    padding: 4px;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    background-color: #333;
}

#history div.members > h3 {
    padding-left: 2em;
}

.changeset > div.members {
    display: none;
}

.changeset > h4 span.kind {
    color: black;
    font-size: 11pt;
    display: inline;
    float: left;
    text-align: left;
    width: auto;
    padding-left: 6px;
}

.changeset > h4 span.name {
    color: black;
    font-size: 11pt;
    text-align: left;
}

.changeset > h4 span.result {
    color: black;
    font-size: 11pt;
    text-align: left;
}

span.stamp {
    color: #000000;
    float: right;
    font-family: sans-serif;
    font-size: 10pt;
    margin: 0px 4px;
}