#user {
    background: #B78E99;
    display: block;
    left: 0;
    padding: 5px;
    position: fixed;
    top: 0px;
    width: 290px;
}

#user div {
    display: inline;
}

#user > div.avatar {
    float: left;
}

#user > div.avatar img {
    border: 1px solid white;
    margin: -2px 2px 0px 0px;
    vertical-align: middle;
}

#user > ul.usernav {
    display: inline;
    float: right;
}

#user > ul.usernav > li {
    display: inline;
    margin: 0px 2px;
}

#user a {
    font-weight: bold;
}

.form {
    display: none;
}

.form fieldset {
    padding: 0;
    border: 0;
    margin-top: 8px;
}

.form p {
    margin-bottom: 12px;
}

.form label, input {
    display: block;
}

.form input[readonly] {
    background: #DDD;
}

.form input.text {
    width: 95%;
    padding: .4em;
}

.form .error {
    color: #666666;
    display: block;
    font-size: 8pt;
    padding-top: 0.2em;
}