#user {
    background: #EDEDEE url('lib/filterbg.gif') repeat-x;
    display: block;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: 0px;
}

#user div {
    display: inline;
}

#user > div.avatar {
    float: left;
}

#user > div.avatar img {
    border: 1px solid white;
    margin: -2px 2px 0px 0px;
    vertical-align: middle;
}

#user > ul.usernav {
    display: inline;
    float: right;
}

#user > ul.usernav > li {
    display: inline;
    margin: 0px 2px;
}

#user a {
    font-weight: bold;
}

.form {
    display: none;
}

.form fieldset {
    padding: 0;
    border: 0;
    margin-top: 8px;
}

.form p {
    margin-bottom: 12px;
}

.form label, input {
    display: block;
}

.form input[readonly] {
    background: #DDD;
}

.form input.text {
    width: 95%;
    padding: .4em;
}

.form .error {
    color: #666666;
    display: block;
    font-size: 8pt;
    padding-top: 0.2em;
}

.hidden {
   display: none;
}

.providers {
    list-style: none;
}

.direct {
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}

#openid_form {
    float: left;
}

#openid_switcher {
    margin-left: 1px;
}

#openid_identifier {
  background: url(images/openid.png) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  /*color: #000; *//* there shouldn't be a space before the 0, but GitHub's parser tries to turn it into an issue link */
  padding-left: 25px;
}

.help > p {
    margin-bottom: 7px;
}

.link {
    text-decoration: underline;
}

#agree_label {
    display: inline;
}

#agree_input {
    display: inline;
}

#tpl .packages ol {
	background-color: #DADFE6;
}

#tpl ol > li.pack {
    padding: 0;
}

#tpl .packages > li > a {
    padding: 3px 5px;
}