a.edit {
    background-color: white;
    color: #4C4C4C;
    display: inline-block;
    float: right;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
}

form.edit textarea {
    border: 2px solid gray;
    font-size: 10pt;
    font-weight: normal;
    height: 100px;
    overflow: visible;
    padding: 4px 8px 4px 8px;
    width: 100%;
}

form.edit div.buttons {
    clear: both;
    padding: 4px 8px 4px 8px;
}

form.edit a {
    background-color: white;
    color: #4C4C4C;
    display: inline-block;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
}