div > a.edit {
    color: #000000;
    display: inline-block;
    float: right;
    font-weight: bold;
    text-decoration: none;
}

div > a.edit:focus {
    text-decoration: underline;
}

form.edit > div.editor {
    width: auto;
}

form.edit > div.editor > textarea {
    border: 2px solid gray;
    font-size: 10pt;
    font-weight: normal;
    height: 100px;
    overflow: visible;
    padding: 4px 8px 4px 8px;
    width: 98%;
}

form.edit div.buttons {
    padding: 4px 8px;
}

form.edit div.buttons > a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

form.edit div.buttons > a:focus {
    text-decoration: underline;
}