.profile #definition {
  background-color: #333;
}

.profile a {
    color: #3366ff;
    text-decoration: underline;
}

.profile #gravatar_wrapper, #gravatar_image {
    display: inline-block;
}

.profile #definition {
    float: left;
    width: 100%;
}

.profile #definition * {
    float: left;
}