.profile #definition {
  background-color: #333;
}

.profile a {
    color: #3366ff;
    text-decoration: underline;
}

.profile li {
    list-style: disc;
    list-style-position: inside;
    margin: 3px 3px;
}

.profile p {
    margin-bottom: 7px;
}

.profile h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}