.profile #definition {
  background-color: #333;
}

#profile_tabs {
    padding: 0;
    border: none;
}

.form {
    width: 400px;
}

.form label {
    display: block;
    font-weight: bold;
}

.form input {
    display: block;
}

.form fieldset {
    padding: 0;
    border: 0;
    margin-top: 8px;
}

.form p {
    margin-bottom: 12px;
}

.form input[readonly] {
    background: #DDD;
}

.form input.text {
    width: 95%;
    padding: .4em;
}

.submit {
    padding: 4px 10px;
}

.form .error {
    color: #666666;
    display: block;
    font-size: 8pt;
    padding-top: 0.2em;
}

.profile h2, h3 {
    font-weight: bold;
}

#comments_tab {
    padding-left: 0;
    padding-right: 0;
}

#delete_account {
    margin-top: 8px;
}

#delete_account > a {
    font-weight: bold;
    color: #993300;
}

#recover_account {
    margin-top: 8px;
}

#recover_account > a {
    font-weight: bold;
}

#superuser_wrapper {
    margin-top: 8px;
}

#superuser_wrapper > label {
    font-weight: bold;
}

#available_wrapper {
    margin-top: 8px;
}

#available_wrapper > label {
    font-weight: bold;
}

#edit_info_button {
    margin-top: 8px;
}

#discussion_comments_tab {
    padding-left: 0;
    padding-right: 0;
}

.definition > a {
    text-decoration: none;
}

.discussion_wrapper {
    margin-left: 20px;
}