.settings #definition {
  background-color: #333;
}

.trash {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url(scripts/ui/css/scaladoc/images/ui-icons_222222_256x240.png);
  /*background: transparent url(SearchGoogle.gif) no-repeat center top;*/
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
}

.settings-table {
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: -2px;
}

#gbox_userlist {
    margin-top: 3px;
}

.settings > h4 {
    margin-top: 2px;
}

.openid_input {
    width: 350px;
}

.add_form_label {
    float: left;
    /*display: block;*/
    clear: left;
    text-align: left;
    display: none;
}

.settings-table td {
    margin: 1px;
}

#settings_tab {
    border: none;
}

.property_form label {
    display: block;
    font-weight: bolder;
}

.form {
    display: none;
}

.form fieldset {
    padding: 0;
    border: 0;
    margin-top: 8px;
}

.form p {
    margin-bottom: 12px;
}

.form input[readonly] {
    background: #DDD;
}

.form input.text {
    width: 95%;
    padding: .4em;
}

.form .error {
    color: #666666;
    display: block;
    font-size: 8pt;
    padding-top: 0.2em;
}

.ui-pg-input {
    color: #555;
    width: 65px;
    text-align: left;
}

.properties {
    width: 400px;
}

.properties label {
    display: block;
    font-weight: bold;
}

.properties input {
    display: block;
}

.properties fieldset {
    padding: 0;
    border: 0;
    margin-top: 8px;
}

.properties p {
    margin-bottom: 12px;
}

.properties input[readonly] {
    background: #DDD;
}

.properties input.text {
    width: 95%;
    padding: .4em;
}

.submit {
    padding: 4px 10px;
}

.properties .error {
    color: #666666;
    display: block;
    font-size: 8pt;
    padding-top: 0.2em;
}

.category {
    width: 400px;
}

.category label {
    display: block;
    font-weight: bold;
}

.category input {
    display: block;
}

.category fieldset {
    padding: 0;
    border: 0;
    margin-top: 8px;
}

.category p {
    margin-bottom: 12px;
}

.category input[readonly] {
    background: #DDD;
}

.category input.text {
    width: 95%;
    padding: 5px;
}

.submit {
    padding: 4px 10px;
}

.category .error {
    color: #666666;
    display: block;
    font-size: 8pt;
    padding-top: 0.2em;
}

#categories_table {
    width: 600px;
}

#categories_table td {
    border-bottom: 1px solid #E5E5E5;
    padding: 10px;
}

#categories_table th {
    border-bottom: 1px solid #E5E5E5;
    font-weight: bold;
    padding: 10px;
}

#categories_table tr {
    margin: 50px;
}

.test {margin: 5px;}

#discussions_settings h3 {
    font-weight: bold;
    font-size: 120%;
    margin-top: 10px;
}

#settings_tab {
    padding: 0;
}

#user_settings {
    width: 600px;
}

#user_list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;
    margin: 10px 0;
}

#user_list li {
    padding: 5px 0;
}

.deleted > a {
    color: #AAAAAA;
}

.banned > a {
    color: #993300;
}

li.ui-selectee {
    border: 1px solid #E5E5E5;
    margin: 1px;
    padding-left: 5px;
}

.ui-selectee > a {
    padding: 2px 8px;
}

#user_settings input {
    display: block;
}

#user_settings input.text {
    width: 588px;
    padding: 5px;
}
